version: '3.8'

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    command:
      - --configFile=/etc/traefik/traefik.yml
      - --api.dashboard=true
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./acme.json:/acme.json
    networks:
      - kyda-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.kyda.tech`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls.certresolver=letsencrypt"

  postgres:
    image: postgres:15
    container_name: kyda-tech-postgres-1
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - kyda-network

  redis:
    image: redis:7-alpine
    container_name: kyda-tech-redis-1
    networks:
      - kyda-network
 
   kafka:
    image: confluentinc/cp-kafka:7.4.0
    hostname: kafka
    container_name: kafka
    restart: unless-stopped
    environment:
      CLUSTER_ID: "qZ0qRzALQHG9p8Kp2fDx1Q"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: "1"

    # --- LISTENERS ---
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:29093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"

    # --- REQUIRED but missing ---
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"

    # --- KRaft controller ---
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:29093"

    volumes:
      - ./data/kafka:/var/lib/kafka/data
    networks:
      - kyda-network
 
 
    mlflow:
    build: ./services/mlflow
    image: kyda-mlflow:v3.7.0
    container_name: mlflow
    restart: unless-stopped
    environment:
      AWS_ACCESS_KEY_ID: "minioadmin"
      AWS_SECRET_ACCESS_KEY: "minioadmin"
      MLFLOW_S3_ENDPOINT_URL: "http://minio:9000"
    command: >
      mlflow server
      --backend-store-uri postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      --default-artifact-root s3://mlflow/
      --host 0.0.0.0
      --port 5000
      --allowed-hosts "92.38.49.74:5000,mlflow.kyda.tech,localhost,127.0.0.1"
      --cors-allowed-origins "*"
    depends_on:
      - postgres
      - minio
    networks:
      - kyda-network
    ports:
      - "5000:5000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mlflow.rule=Host(`mlflow.kyda.tech`)"
      - "traefik.http.routers.mlflow.entrypoints=websecure"
      - "traefik.http.routers.mlflow.tls.certresolver=letsencrypt"
      - "traefik.http.services.mlflow.loadbalancer.server.port=5000"
      - "traefik.docker.network=kyda-network"

  minio:
    image: minio/minio:latest
    container_name: kyda-tech-minio-1
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./data/minio:/data
    networks:
      - kyda-network
    ports:
      - "9000:9000"
      - "9001:9001"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio-console.rule=Host(`minio-console.kyda.tech`)"
      - "traefik.http.routers.minio-console.entrypoints=websecure"
      - "traefik.http.routers.minio-console.tls.certresolver=letsencrypt"
      - "traefik.http.services.minio-console.loadbalancer.server.port=9001"
      - "traefik.docker.network=kyda-network"

  backend:
    build: ./services/backend
    container_name: backend
    restart: unless-stopped
    environment:
      DATABASE_URL: "postgresql+asyncpg://postgres:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
    volumes:
      - ./services/backend:/app
      - ./services/backend/keys:/app/keys
    expose:
      - "8000"
    depends_on:
      - postgres
    networks:
      - kyda-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`api.kyda.tech`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls.certresolver=letsencrypt"
      - "traefik.http.services.backend.loadbalancer.server.port=8000"
      - "traefik.docker.network=kyda-network"

  producer:
      container_name: producer
      build:
        context: /opt/kyda-tech/services/producer
        dockerfile: Dockerfile
      depends_on:
        kafka:
          condition: service_started
          required: true
      environment:
        KAFKA_BOOTSTRAP_SERVERS: kafka:9092
        TOPIC_NAME: transactions
        TRANSACTIONS_PER_SECOND: "20"
        FRAUD_RATIO: "0.05"
      restart: unless-stopped
      networks:
        - kyda-network


networks:
  kyda-network:
    external: true

