entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
api:
  dashboard: true
certificatesResolvers:
  letsencrypt:
    acme:
      email: b.korkem2004@gmail.com
      storage: /acme.json
      httpChallenge:
        entryPoint: web

