# Static configuration for Traefik
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

api:
  dashboard: true
  insecure: false

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /etc/traefik/dynamic_conf.yml

certificatesResolvers:
  le:
    acme:
      email: you@kyda.tech
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
